<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/image/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/comum/commum.css">
    <style>
        header{
            padding: 20px 0 20px 0;
            font-size: 28px;
        }
        header a{
            text-decoration: none;
            color: #ffffff;
        }
        main{
            max-width: 600px;
            margin: 0 10px 0 10px;
        }
        span{
            font-size: 20px;
        }
        main p{
            text-align: justify;
        }
    </style>
    <title>Artigos</title>
</head>
<body>
    <header>
        <a href="/dashboard">Princesa Reborn - Artigos</a>
    </header>

    <main>
        <h1>Proteja seu Negócio: Evite Ataques Cibernéticos com Exemplos Práticos</h1>
        <p>No mundo digital de hoje, a segurança cibernética é essencial para proteger sua empresa. Além das medidas técnicas, é crucial educar seus colaboradores sobre o que <strong>não fazer</strong> para evitar ataques. Vamos explorar exemplos práticos:</p>

        <h2>1. Não clique em links suspeitos</h2>
        <p>
            <span>Exemplo:</span> Você recebe um e-mail com o título "Urgente: Atualize seus dados bancários". O remetente parece ser um banco, mas o link é estranho. <strong>Não clique!</strong> Golpistas usam e-mails falsos para roubar informações.
        </p>
        <p>
            <span>Ação Correta:</span> Verifique o remetente, passe o mouse sobre o link (sem clicar) para ver o endereço real e, em caso de dúvida, entre em contato diretamente com o banco por telefone ou pelo site oficial.
        </p>

        <h2>2. Não abra anexos desconhecidos</h2>
        <p>
            <span>Exemplo:</span> Um colega envia um arquivo chamado "Relatório Financeiro.exe". Mesmo que o remetente seja conhecido, <strong>não abra</strong> a conta dele pode ter sido clonada e ser um atacante. Arquivos .exe são executaveis no windows e podem conter virus ou malware.
        </p>
        <p>
            <span>Ação Correta:</span> Peça confirmação ao remetente sobre o arquivo e encaminhe o e-mail para o setor responsável
        </p>

        <h2>3. Não compartilhe senhas</h2>
        <p>
            <span>Exemplo:</span> Um colega pede sua senha para acessar um sistema da empresa. <strong>Não compartilhe!</strong> Senhas são pessoais e intransferíveis.
        </p>

        <h2>4. Não use redes Wi-Fi públicas para transações importantes</h2>
        <p>
            <span>Exemplo:</span> Você está em um café e precisa acessar o sistema bancário da empresa. <strong>Não use</strong> a rede Wi-Fi pública. Ela pode ser insegura e permitir que golpistas interceptem seus dados com um ataque "Man In The Midle".
        </p>
        <p>
            <span>Ação Correta:</span> Use a rede de dados móveis do seu celular ou uma VPN (Rede Virtual Privada) para criptografar sua conexão.
        </p>

        <h2>5. Não ignore atualizações de software</h2>
        <p>
            <span>Exemplo:</span> Seu computador exibe uma notificação para atualizar o sistema operacional. <strong>Não ignore!</strong> Atualizações contêm correções de segurança importantes.
        </p>
        <p>
            <span>Ação Correta:</span> Instale as atualizações assim que estiverem disponíveis.
        </p>

        <h2>6. Encaminhe links suspeitos para o departamento certo</h2>
        <p>
            <span>Exemplo:</span> Você recebe um e-mail com um link suspeito. Em vez de clicar ou ignorar, <strong>encaminhe</strong> para o departamento de TI ou segurança da informação da sua empresa.
        </p>
        <p>
            <span>Ação Correta:</span> O departamento poderá analisar o link e tomar as medidas necessárias para proteger a empresa.
        </p>

        <h2>7. Não divulgue informações confidenciais em redes sociais</h2>
        <p>
            <span>Exemplo:</span> Você está em uma reunião e publica uma foto com informações confidenciais no fundo. <strong>Não faça isso!</strong> Redes sociais são públicas e podem expor dados sensíveis da empresa.
        </p>
        <p>
            <span>Ação Correta:</span> Evite publicar fotos ou informações que possam comprometer a segurança da empresa.
        </p>
    </main>
</body>
</html>