<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/image/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/comum/commum.css">
    <link rel="stylesheet" href="css/comum/erro.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/image/logo.png" alt="">
    </header>
    <div class="container">
        <h1>404 - Não encontramos o que procura</h1>
        <img src="/image/404png.png" alt="Not found">
        
    </div>
    <footer>
        &copy; 2025 Princesa Reborn Todos os direitos reservados
    </footer>
</body>
</html>