<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/image/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/comum/commum.css">
    <link rel="stylesheet" href="/css/comum/erro.css">
    <title>Acesso Negado</title>
</head>
<body>
    <header>
        <a href="/login"><img src="/image/logo.png" alt="logo"></a>
    </header>
    <div class="container">
        <h1>403 - Você não tem permissão para acessar aqui</h1>
        <img src="/image/403.png" alt="">
    </div>
    <footer>
        &copy; 2025 Princesa Reborn Todos os direitos reservados
    </footer>
</body>
</html>