<!DOCTYPE html>
<html>
<head>
    <title>Quiz do Módulo 1</title>
</head>
<body>
    <h1>Quiz - Módulo 1</h1>
    <form method="POST" action="/modulo2/quiz">
        <div>
            <label>1. Qual é a capital da frança? </label><br>
            <input type="radio" name="q1" value="Brasília"> Brasília<br>
            <input type="radio" name="q1" value="paris"> paris<br>
            <input type="radio" name="q1" value="Rio de Janeiro"> Rio de Janeiro<br>
        </div>

        <div>
            <label>qual a cor do ceu em dia claro? </label><br>
            <input type="radio" name="q2" value="azul">azul<br>
            <input type="radio" name="q2" value="4"> 4<br>
            <input type="radio" name="q2" value="5"> 5<br>
        </div>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
