
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

.form-login {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-login h1 {
    color: #333;
}

label {
    font-size: 1.1em;
    color: #333;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #ff66b2;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #ff3399; 
}

a {
    color: #ff66b2;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

a:hover {
    color: #ff3399;
    text-decoration: underline;
}

