<!DOCTYPE html>
<html>
<head>
    <title>Quiz do Módulo 1</title>
</head>
<body>
    <h1>Quiz - Módulo 1</h1>
    <form method="POST" action="/modulo1/quiz">
        <div>
            <label>1. Qual é a capital do Brasi?</label><br>
            <input type="radio" name="q1" value="Brasília"> Brasília<br>
            <input type="radio" name="q1" value="São Paulo"> São Paulo<br>
            <input type="radio" name="q1" value="Rio de Janeiro"> Rio de Janeiro<br>
        </div>

        <div>
            <label>2. 2 + 2 = ?</label><br>
            <input type="radio" name="q2" value="3"> 3<br>
            <input type="radio" name="q2" value="4"> 4<br>
            <input type="radio" name="q2" value="5"> 5<br>
        </div>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
